
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 400px;
    border: 1px solid black;
    
    display: flex;
    justify-content: center;
    padding-left: 10px;
    flex-direction: column;
    gap: 1em;
    border-radius: 8px;
}

input,select{
    width: 250px;
    padding: 8px;
    border-radius: 5px;
    outline: none;
}
button{
    padding: 10px;
    max-width: 90px;
    background-color: rgba(5, 157, 245, 0.877);
    color: white;
    border: none;
    border-radius: 8px;
}

#position-container-button{
    display: flex;
    gap: 5px;
}